<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 读取电池状态 - 从Android 5.0开始，BatteryManager.getIntProperty()不需要此权限 -->
    <!-- <uses-permission android:name="android.permission.BATTERY_STATS" /> -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhoneWidget">

        <!-- 桌面 Widget -->
        <receiver
            android:name=".PhoneWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <!-- 从Android 8.0开始，ACTION_BATTERY_CHANGED是受保护的广播 -->
                <!-- <action android:name="android.intent.action.BATTERY_CHANGED" /> -->
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.POWER_CONNECTED" />
                <action android:name="android.intent.action.POWER_DISCONNECTED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

    </application>

</manifest>
